<!doctype html>
<html>
<head><meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>{% load static %}<link rel="shortcut icon" href={% static 'favicon.ico' %}><link rel="stylesheet" href={% static 'mystyle.css' %}>

<script></script><style>
form{display:grid;grid-template-columns:1fr 1fr 1fr;grid-template-areas:"one two three";background-color:cyan}

</style></head> 
<body><a href={% url 'paginainicial' %}><button class="btn btn-lg btn-primary btn-block">Ir para a pagina inicial</button></a><br>
<a href={% url 'professor_dentro' user.slug %}><button class="btn btn-lg btn-primary btn-block">Voltar <--</button></a><br><br><br>
<h2>Numero de processo: {{us.numero_de_processo}}<br>
Nome: {{us.nome}}<br>
Data de nascimento: {{us.data_de_nascimento|date:"Y-M-d"}}<br>
Sala:{{us.sala}}<br>
Contacto: {{us.contacto}}<br>
Turma:{{us.turma}}<br>
Classe:{{us.classe}}<sup>o</sup><br> 
imagem de face:<img src={{us.imagem.url}} width=100%  height=100%% class="c"></h2>
</body>
</html>