<!doctype html>
<html>
<head><meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>{% load static %}<link rel="shortcut icon" href={% static 'favicon.ico' %}><link rel="stylesheet" href={% static 'mystyle.css' %}>

<script>
</script>
<style> 

form{background-color:#f8f8ff}
form:hover{background-color:#f0f0ff}

form{background-color:#00ff95}
form:hover{background-color:#00ff95}
</style>
</head>
<body><a href={% url 'paginainicial' %}><button class="btn btn-lg btn-primary btn-block">Ir para a pagina inicial</button></a> <br><br>
 <a href={% url 'aluno_dentro' user.slug %}><button class="btn btn-lg btn-primary btn-block">Voltar <----</button></a> <br>
<h2>Bem-vindo a sua caixa de messagens</h2><br>
<h2>{{messagem}}<h2><br>
{% if user.id == messagem.de and messagem.de2 == "aluno" %}<h2>Eu-->: </h2>
{% if messagem.messagem.conteudo|length > 0 %}<button class="btn btn-lg btn-primary btn-block">{{messagem.messagem.conteudo}}</button><br> {% endif %}
{% if messagem.messagem.arquivo|length > 0 %}
<button class="btn btn-lg btn-primary btn-block">Baixar arquivo <a href="{{messagem.messagem.arquivo.url}}">{{messagem.messagem.arquivo}}</a></button>{% endif %} 
{% else %} <h2>:<--Ele/Ela</h2>
{% if messagem.messagem.conteudo|length > 0 %}<button class="btn btn-lg btn-primary btn-block">{{messagem.messagem.conteudo}}</button><br> {% endif %}
{% if messagem.messagem.arquivo|length > 0 %}
<button class="btn btn-lg btn-primary btn-block">Baixar arquivo <a href="{{messagem.messagem.arquivo.url}}">{{messagem.messagem.arquivo}}</a></button>{% endif %}{% endif %} <br>
<form enctype="multipart/form-data" name='forma' method="post"><h2>Enviar messagem:</h2><input type="text" class="text" name="conteudo" value="">
<h2>Anexar arquivo</h2> <input type="file" class="text" name="arquivo"> <br>
{% csrf_token %} <input type="submit" class="btn btn-lg btn-primary btn-block" value="Enviar">
</form>
<h2>Outras messagens<h2><br>
{% for messagem in conversas %}
{% if user.id == messagem.de and messagem.de2 == "aluno" %} <h2>Eu-->:</h2>
{% if messagem.messagem.conteudo|length > 0 %}<button class="btn btn-lg btn-primary btn-block">{{messagem.messagem.conteudo}}</button><br> {% endif %}
{% if messagem.messagem.arquivo|length > 0 %}
<button class="btn btn-lg btn-primary btn-block">Baixar arquivo <a href="{{messagem.messagem.arquivo.url}}">{{messagem.messagem.arquivo}}</a></button>{% endif %} 
{% else %} <h2>:<--Ele/Ela</h2>
{% if messagem.messagem.conteudo|length > 0 %}<button class="btn btn-lg btn-primary btn-block">{{messagem.messagem.conteudo}}</button><br> {% endif %}
{% if messagem.messagem.arquivo|length > 0 %}
<button class="btn btn-lg btn-primary btn-block">Baixar arquivo <a href="{{messagem.messagem.arquivo.url}}">{{messagem.messagem.arquivo}}</a></button>{% endif %}{% endif %} <br>
{% endfor %}

</body>
</html>