<!DOCTYPE html>
<head><meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>{% load static %}<link href={% static "floating-labels.css" %} rel="stylesheet"><link rel="stylesheet" href={% static 'bootstrap.min.css' %}><link rel="shortcut icon" href={% static 'favicon.ico' %}><link rel="stylesheet" href={% static 'mystyle.css' %}>
</style></head>
<body><br><br><form method="post" enctype='multipart/form-data' class="form-signin"> <h1>{{erro}}<h1><br> {% csrf_token %}
<div class="text-center mb-4">
  <a href={% url 'professor_dentro' user.slug %}>Voltar</a>
 {% if user.imagem|length > 0 %} <img class="mb-4" src={{user.imagem.url}} alt="" width="72" height="72"> {% endif %}
 
   <h1 class="h3 mb-3 font-weight-normal">Minhas turmas {{user.turmas}}: {{user.nome}}</h1>
  </div><div class="form-label-group">
<h2>Referencia:</h2> <br><input type="text" class="form-control" name="referencia" maxlength="100" required id="id_referencia">
<h2>Director de turma:</h2><br> <input type="text" class="form-control" name="director_de_turma" maxlength="100" required id="id_chefe_de_turma">
<h2>Chefe de turma:</h2><br><input type="text" class="form-control"  name="chefe_de_turma" maxlength="100" required id="id_chefe_de_turma">
<h2>Classe:</h2><br> <input type="number" name="classe" class="form-control"  min="8" max="12" required id="id_classe">
<h2>Sala:</h2><br> <input type="number" name="sala" class="form-control"  min="1" max="33" id="id_classe">
<h2>Turno:</h2><br><select name="turno" class="form-control" required id="id_turno"><option value="Diurno" selected>Diurno</option>  <option value="Noturno">Noturno</option></select><br>
<h2>Imagem:</h2> <br> <input type="file" class="form-control"  name="imagem" accept="image/*" id="id_imagem">
<h2>Palavra-passe:</h2><br> <input type="password" class="form-control"  name="password" maxlength="100" required id="id_password">
<h2>Confirmar a palavra-passe:</h2><br> <input type="password" class="form-control" name="password2" maxlength="100" required id="id_password">
<input type="submit" value="Cadastrar" class="btn btn-lg btn-primary btn-block">
</div></form></body>
</html>