<!doctype html>
<html>
<head><meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>{% load static %}<link rel="shortcut icon" href={% static 'favicon.ico' %}><link rel="stylesheet" href={% static 'mystyle.css' %}>

<script>
</script>
<style> 
.forma{background-color:cyan}
.forma:hover{background-color:cyan}
.tt{width:100%;height:40%}
</style>
</head>
<body><a href={% url 'paginainicial' %}><button class="btn btn-lg btn-primary btn-block">Ir para a pagina inicial</button></a> <br><br> 
 <br><a href={% url 'professor_dentro' user.slug %}><button class="btn btn-lg btn-primary btn-block">Voltar</button></a>
<h2 style="color:green">{{sucesso}}</h2>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<h2>Que tipo de receptor</h2><select name="para"> <option>Aluno</option><option>Professor</option><option>Directoria</h2></select>
<h2>Contacto do receptor</h2><input type="text" class="tt" value="+258" name="receptor"> <br>
<h2>Conteudo:</h2><input type="textarea" class="tt" name="conteudo" value=""><br>
<h2>Anexar arquivo:</h2><input type="file" class="tt" name="arquivo"><br>
<input type="submit" class="btn btn-lg btn-primary btn-block" value="Enviar">
</form>
</body>
</html>