<!doctype html>
<html>
<head><meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/><link rel="stylesheet" href="/arquivosdaescola/mystyle.css"/>
<script></script><style>
form{display:grid;grid-template-columns:1fr 1fr 1fr;grid-template-areas:"one two three";background-color:cyan}
h2{grid-area:one;color:#800000}
.c{grid-area:two}
button{grid-area:three;width:100%;height:100%}
</style></head> 
<body><a href={% url 'paginainicial' %}><button>Ir para a pagina inicial</button></a><br>
<a href={% url 'professor_turma' user.slug %}><button>Voltar <--</button></a><br><br>
{% if turma.de == user.id and turma.de2 == "professor" %}<form method="post">  {% csrf_token %} <input type="hidden" value="chefe_de_turma" name="group"> <h2>Chefe da turma {{turma.referencia}}:</h2><input type="text" name="thevalue" value="{{turma.chefe_de_turma}}" class="c">  <button>Alterar</button></form>
<br><form method="post">  {% csrf_token %} <input type="hidden" value="referencia" name="group"> <h2> Referencia</h2><input type="date" name="thevalue" value="{{turma.referencia}}" class="c">  <button>Alterar</button></form>
<br><form method="post">  {% csrf_token %} <input type="hidden" value="director_de_turma" name="group"> <h2> Director de turma:</h2><input type="text" name="thevalue" value="{{turma.director_de_turma}}" class="c">  <button>Alterar</button></form>
<br><form method="post">  {% csrf_token %} <input type="hidden" value="sala" name="group"> <h2> Sala:</h2><input type="number" min="0" max="33" name="thevalue" value="{{turma.sala}}" class="c">  <button>Alterar</button></form>
<br><form method="post">  {% csrf_token %} <input type="hidden" value="turno" name="group"> <h2> Turno: {{turma.turno}}</h2><select name="thevalue" value="{{turma.turno}}" class="c"><option value="diurno">Diurno</option><option value="noturno">Noturno</option></select>  <button>Alterar</button></form>
<br><form method="post">  {% csrf_token %} <input type="hidden" value="classe" name="group"> <h2> Classes:</h2><input type="number" name="thevalue" min="8" max="12" value="{{turma.classe}}" class="c">  <button>Alterar</button></form>
<br><form method="post" enctype="multipart/form-data">  {% csrf_token %} <input type="hidden" value="imagem" name="group"> <h2>Imagem da turma:{% if turma.imagem|length > 0 %} <img src={{turma.imagem.url}} width=100%  height=100% class="c"></h2>{% endif %} <input type="file" class="text" name="thevalue" accept="image/*">  <button>Alterar</button></form>
<br><form method="post">  {% csrf_token %} <input type="hidden" value="password" name="group"> <h2>Palavra-passe:</h2><input type="password" name="thevalue" value="{{turma.password}}" class="c">  <button>Alterar</button></form>{% else %}<h2 style="color:aqua">Referencia: {{turma.referencia}}<br>Sala: {{turma.sala}}<br>classe: {{turma.classe}}<sup>o</sup><br>Turno: {{turma.turno}}<br>Chefe de turma: {{turma.chefe_de_turma}} <br>Director de turma: {{turma.director_de_turma}}  {% if turma.imagem|length > 0 %} <br>Imagem:<img src="{{turma.imagem.url}}" height=100% width=100% />{% endif %}</h2>{% endif %}
</body>
</html>