<!doctype html>
<html>
<head><meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>{% load static %}<link rel="shortcut icon" href={% static 'favicon.ico' %}><link rel="stylesheet" href={% static 'mystyle.css' %}>

<script></script><style>
form{display:grid;grid-template-columns:1fr 1fr 1fr;grid-template-areas:"one two three";background-color:cyan}
h2{grid-area:one;color:#800000}
.c{grid-area:two}

button{grid-area:three;width:100%;height:100%}
</style></head> 
<body><a href={% url 'paginainicial' %}><button>Ir para a pagina inicial</button></a><br>
<a href={% url 'aluno_dentro' user.slug %}><button>Voltar <--</button></a><br><br><br>
<form method="post">  {% csrf_token %} <input type="hidden" value="numero_de_processo" name="group"> <h2>Numero de processo:</h2><input type="text" name="thevalue" value="{{user.numero_de_processo}}" class="c">  <button>Alterar</button></form>
<br><form method="post">  {% csrf_token %} <input type="hidden" value="nome" name="group"> <h2>Nome:</h2><input type="text" name="thevalue" value="{{user.nome}}" class="c">  <button>Alterar</button></form>
<br><form method="post">  {% csrf_token %} <input type="hidden" value="idade" name="group"> <h2> Data de nascimento <br>:{{user.data_de_nascimento|date:"Y-M-d"}}</h2><input type="date" name="thevalue" value="{{user.data_de_nascimento|date:"Y-M-d"}}" class="c">  <button>Alterar</button></form>
<br><form method="post">  {% csrf_token %} <input type="hidden" value="turno" name="group"> <h2>Turno:</h2><input type="text" name="thevalue" value="{{user.turno}}" class="c">  <button>Alterar</button></form>
<br><form method="post">  {% csrf_token %} <input type="hidden" value="sala" name="group"> <h2>Sala:</h2><input type="number" name="thevalue" value="{{user.sala}}" class="c">  <button>Alterar</button></form>
<br><form method="post">  {% csrf_token %} <input type="hidden" value="encarregado" name="group"> <h2>Encarregado:</h2><input type="text" name="thevalue" value="{{user.encarregado}}" class="c">  <button>Alterar</button></form>

<br><form method="post">  {% csrf_token %} <input type="hidden" value="contacto" name="group"> <h2> Contacto:</h2><input type="text" name="thevalue" value="{{user.contacto}}" class="c">  <button>Alterar</button></form>
<br><form method="post">  {% csrf_token %} <input type="hidden" value="turma" name="group"> <h2> Turma:</h2><input type="text" name="thevalue" value="{{user.turma}}" class="c">  <button>Alterar</button></form>
<br><form method="post">  {% csrf_token %} <input type="hidden" value="classe" name="group"> <h2> Classe:</h2><input type="number" name="thevalue" value="{{user.classe}}" class="c">  <button>Alterar</button></form>
<br><form method="post" enctype="multipart/form-data">  {% csrf_token %} <input type="hidden" value="imagem" name="group"> <h2> Sua imagem de face:<img src={{user.imagem.url}} width=100%  height=100%% class="c"></h2> <input type="file" class="text" name="thevalue" accept="image/*">  <button>Alterar</button></form>
<br><form method="post">  {% csrf_token %} <input type="hidden" value="password" name="group"> <h2> Tua password:</h2><input type="password" name="thevalue" value="{{user.password}}" class="c">  <button>Alterar</button></form>
</body>
</html>